.nav-item {
  @apply text-xs font-semibold text-[#886699] flex flex-col items-center gap-1;
}

.icon-container {
  @apply flex justify-center items-center w-6 h-6;
}

.icon {
  @apply w-5 h-5;
}

.sidebar-item {
  @apply  text-base hover:text-[#AF57DB];
}
