<section class="flex justify-center">
  <div class="w-[520px] h-auto flex flex-col p-6">
    <div class="text-center">
      <h1
        class="text-3xl font-bold bg-gradient-to-r from-[#AF5EDE] to-[#FF80BF] bg-clip-text text-transparent"
      >
        Comunidad
      </h1>
      <p class="mt-1 text-gray-500">Juntas somos más fuertes</p>
    </div>

    <div class="border border-gray-300 rounded-2xl p-6 mt-6 bg-[#f6fcfa]">
      <div class="flex gap-2 items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#A8E2CE"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-users-icon lucide-users"
        >
          <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
          <path d="M16 3.128a4 4 0 0 1 0 7.744" />
          <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
          <circle cx="9" cy="7" r="4" />
        </svg>
        <p class="text-lg font-medium text-gray-800">Testimonios</p>
      </div>

      <div class="flex flex-col gap-4 mt-6">
        <div class="border border-gray-200 p-4 rounded-2xl shadow-sm bg-white">
          <div class="flex gap-4 items-start">
            <!-- Avatar -->
            <div
              class="circle-profile flex items-center justify-center text-white font-semibold"
            >
              M
            </div>

            <!-- Texto -->
            <div class="flex flex-col gap-1">
              <p class="font-semibold text-gray-800">Maria</p>
              <p class="text-gray-600 text-sm leading-snug">
                No estás sola, todas estamos aquí para apoyarte
              </p>
              <p class="w-fit flex gap-2 text-xs text-pink-500 font-medium mt-2 cursor-pointer hover:bg-pink-500 hover:text-white px-2 py-1 rounded-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-heart-icon lucide-heart"
                >
                  <path
                    d="M2 9.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 2.29-1.5 4-3 5.5l-5.492 5.313a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5"
                  />
                </svg>
                Apoyo
              </p>
            </div>
          </div>
        </div>

        <div class="border border-gray-200 p-4 rounded-2xl shadow-sm bg-white">
          <div class="flex gap-4 items-start">
            <!-- Avatar -->
            <div
              class="circle-profile flex items-center justify-center text-white font-semibold"
            >
              C
            </div>

            <!-- Texto -->
            <div class="flex flex-col gap-1">
              <p class="font-semibold text-gray-800">Carmen</p>
              <p class="text-gray-600 text-sm leading-snug">
                Mi historia de superación
              </p>
              <p class="w-fit flex gap-2 text-xs text-pink-500 font-medium mt-2 cursor-pointer hover:bg-pink-500 hover:text-white px-2 py-1 rounded-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-heart-icon lucide-heart"
                >
                  <path
                    d="M2 9.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 2.29-1.5 4-3 5.5l-5.492 5.313a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5"
                  />
                </svg>
                Apoyo
              </p>
            </div>
          </div>
        </div>

        <div class="border border-gray-200 p-4 rounded-2xl shadow-sm bg-white">
          <div class="flex gap-4 items-start">
            <!-- Avatar -->
            <div
              class="circle-profile flex items-center justify-center text-white font-semibold"
            >
              A
            </div>

            <!-- Texto -->
            <div class="flex flex-col gap-1">
              <p class="font-semibold text-gray-800">Ana</p>
              <p class="text-gray-600 text-sm leading-snug">
                Encontré fuerza cuando más la necesitaba.
              </p>
              <p class="w-fit flex gap-2 text-xs text-pink-500 font-medium mt-2 cursor-pointer hover:bg-pink-500 hover:text-white px-2 py-1 rounded-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-heart-icon lucide-heart"
                >
                  <path
                    d="M2 9.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 2.29-1.5 4-3 5.5l-5.492 5.313a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5"
                  />
                </svg>
                Apoyo
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="border border-gray-300 rounded-2xl p-6 mt-6 bg-white">
      <div class="flex gap-2 items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#AF57DB"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-map-pin-icon lucide-map-pin"
        >
          <path
            d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
          />
          <circle cx="12" cy="10" r="3" />
        </svg>
        <p class="text-lg font-medium text-gray-800">Red de Ayuda</p>
      </div>

      <div class="mt-2">
        <p class="text-sm text-gray-500">
          Recursos locales verificados y seguros
        </p>
      </div>

      <div class="flex flex-col gap-3 mt-6">
        <a
          href="https://maps.app.goo.gl/gqLDL6HDUFcdhrDC6"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div
            class="border border-gray-300 bg-gray-50 p-4 rounded-2xl cursor-pointer hover:bg-gray-100"
          >
            <div class="flex flex-col gap-2">
              <p class="font-medium text-gray-800">Defensa Publica de Cañete</p>
              <p class="flex gap-1 items-center text-sm text-gray-500">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#AF57DB"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-map-pin-icon lucide-map-pin"
                >
                  <path
                    d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
                  />
                  <circle cx="12" cy="10" r="3" />
                </svg>
                Francisco Reynoso 189, San Vicente de Cañete 15701
              </p>
            </div>
          </div>
        </a>

        <a
          href="https://maps.app.goo.gl/vgGKRKkJ9aJ1HSZy6"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div
            class="border border-gray-300 bg-gray-50 p-4 rounded-2xl cursor-pointer hover:bg-gray-100"
          >
            <div class="flex flex-col gap-2">
              <p class="font-medium text-gray-800">Comisaria</p>
              <p class="flex gap-1 items-center text-sm text-gray-500">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#AF57DB"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-map-pin-icon lucide-map-pin"
                >
                  <path
                    d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
                  />
                  <circle cx="12" cy="10" r="3" />
                </svg>
                Santa Rita 141, San Vicente de Cañete
              </p>
            </div>
          </div>
        </a>

        <a
          href="https://maps.app.goo.gl/fX6qypsVyzxxFk8m6"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div
            class="border border-gray-300 bg-gray-50 p-4 rounded-2xl cursor-pointer hover:bg-gray-100"
          >
            <div class="flex flex-col gap-2">
              <p class="font-medium text-gray-800">Defensa Publica de Cañete</p>
              <p class="flex gap-1 items-center text-sm text-gray-500">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#AF57DB"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-map-pin-icon lucide-map-pin"
                >
                  <path
                    d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
                  />
                  <circle cx="12" cy="10" r="3" />
                </svg>
                Av. 28 de Julio 399, San Vicente de Cañete 15701
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
