<section class="flex justify-center">
    <div class="w-[520px] h-auto flex flex-col p-6">
        <div class="text-center">
      <h1
        class="text-3xl font-bold bg-gradient-to-r from-[#AF5EDE] to-[#FF80BF] bg-clip-text text-transparent"
      >
        Seguridad
      </h1>
      <p class="mt-1 text-gray-500">Tu protección es lo primero</p>
    </div>


      <!-- BOTON DE PANICO -->
    <div class="w-full border border-red-300 rounded-2xl p-6 mt-6 bg-[#FDF0F0]">

        <div class="flex flex-col items-center gap-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="#F47B7B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle-alert-icon lucide-triangle-alert"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"/><path d="M12 9v4"/><path d="M12 17h.01"/></svg>
            <h3 class="text-2xl font-bold text-gray-800">Botón de Pánico</h3>
            <p class="text-gray-600 text-sm">Presiona el botón en caso de emergencia</p>
        </div>

        <div class="w-full mt-6">
            <button class="w-full flex justify-center items-center gap-2 bg-red-600 text-white p-4 font-semibold rounded-xl hover:bg-red-500 transition-colors">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-icon lucide-shield"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/></svg>
                ACTIVAR SOS</button>
        </div>

        <div class="text-center mt-4 pb-4">
            <p class="text-gray-600 text-xs">Se enviará una alerta a tus contactos de confianza</p>
        </div>

    </div>


    <!-- CONTACTOS DE CONFIANZA -->
    <div class="w-full border border-gray-300 rounded-2xl bg-white mt-6 p-6">

        <div class="flex gap-3 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#AF57DB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone"><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/></svg>
            <h3 class="text-lg font-semibold text-gray-800">Contactos de Confianza</h3>
        </div>

        <div class="flex flex-col gap-3 mt-6">
            <div class="flex justify-between items-center border border-gray-300 bg-gray-50 p-4 rounded-xl shadow-sm">
                <div>
                    <h4 class="text-gray-800 font-medium">Linea 100</h4>
                    <p class="text-xs text-gray-600">MIMP - Atención 24/7</p>
                </div>

                <div>
                    <a href="tel:100" class="flex gap-2 items-center border border-gray-300 py-2 px-4 rounded-xl font-medium hover:bg-green-200 hover:text-gray-800 transition-colors text-gray-800 text-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#1f2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone"><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/></svg>
                        100
                    </a>
                </div>
            </div>

            <div class="flex justify-between items-center border border-gray-300 bg-gray-50 p-4 rounded-xl shadow-sm">
                <div>
                    <h4 class="text-gray-800 font-medium">Policía</h4>
                    <p class="text-xs text-gray-600">Emergencias policiales</p>
                </div>

                <div>
                    <a href="tel:105" class="flex gap-2 items-center border border-gray-300 py-2 px-4 rounded-xl font-medium hover:bg-green-200 hover:text-gray-800 transition-colors text-gray-800 text-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#1f2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone"><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/></svg>
                        105
                    </a>
                </div>
            </div>

            <div class="flex justify-between items-center border border-gray-300 bg-gray-50 p-4 rounded-xl shadow-sm">
                <div>
                    <h4 class="text-gray-800 font-medium">Emergencias</h4>
                    <p class="text-xs text-gray-600">Emergencias generales</p>
                </div>

                <div>
                    <a href="tel:911" class="flex gap-2 items-center border border-gray-300 py-2 px-4 rounded-xl font-medium hover:bg-green-200 hover:text-gray-800 transition-colors text-gray-800 text-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#1f2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone"><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/></svg>
                        911
                    </a>
                </div>
            </div>
            <div *ngFor="let c of contacts" class="flex justify-between items-center border border-gray-300 bg-gray-50 p-4 rounded-xl shadow-sm">
  <p class="font-medium text-gray-800">{{ c.name }}</p>
  <div>

  </div>
  <a href="tel:{{ c.phone }}" class="flex gap-2 items-center border border-gray-300 py-2 px-4 rounded-xl font-medium hover:bg-green-200 hover:text-gray-800 transition-colors text-gray-800 text-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#1f2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone"><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/></svg>
                        {{ c.phone }}
                    </a>
</div>
        </div>

        <div class="w-full mt-4">
            <button (click)="openModal()" class="w-full flex items-center justify-center gap-2 bg-gray-50 rounded-xl p-3 text-sm font-medium text-gray-800 border border-gray-300 hover:bg-green-200 hover:text-gray-800 transition-colors">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#1f2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-icon lucide-users"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><path d="M16 3.128a4 4 0 0 1 0 7.744"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><circle cx="9" cy="7" r="4"/></svg>
                Agregar Contacto Personal
            </button>
        </div>

    </div>

    <!-- APRENDO A CUIDARME -->
    <div class="w-full border border-gray-300 rounded-2xl bg-gray-50 mt-6 mb-10 p-6">

        <div class="flex gap-3 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#8CD9BF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-open-icon lucide-book-open"><path d="M12 7v14"/><path d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z"/></svg>
            <h3 class="text-lg font-semibold text-gray-800">Aprendo a Cuidarme</h3>
        </div>

        <div class="flex flex-col gap-3 mt-6">

            <div class="flex flex-col gap-2 border border-gray-300 p-4 bg-white text-grey-800 rounded-xl shadow-sm cursor-pointer hover:bg-gray-100 transition-colors">
                <h4 class="text-sm font-medium">¿Qué hacer ante el acoso?</h4>
                <p class="text-xs text-gray-600">Guia paso a paso</p>
            </div>

             <div class="flex flex-col gap-2 border border-gray-300 p-4 bg-white text-grey-800 rounded-xl shadow-sm cursor-pointer hover:bg-gray-100 transition-colors">
                <h4 class="text-sm font-medium">Tus derechos legales</h4>
                <p class="text-xs text-gray-600">Conoce la ley que te protege</p>
            </div>

        </div>


    </div>


    </div>
</section>
<!-- Modal -->
<div
  *ngIf="showModal"
  class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-[200]"
>
  <div class="bg-white w-[350px] p-6 rounded-2xl shadow-xl">

    <h2 class="text-lg font-semibold text-gray-800 mb-4">Nuevo Contacto</h2>

    <form class="p-2" (ngSubmit)="saveContact()" [formGroup]="contactForm">

      <label class="text-sm font-medium text-gray-700">Nombre</label>
      <input
        type="text"
        formControlName="name"
        class="w-full mt-1 mb-3 p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-400"
        placeholder="Ej: Juan Pérez"
      />

      <label class="text-sm font-medium text-gray-700">Número (Perú)</label>
      <input
        type="text"
        formControlName="phone"
        maxlength="9"
        class="w-full mt-1 mb-3 p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-400"
        placeholder="9XXXXXXXX"
      />

      <div class="flex justify-end gap-2 mt-4">
        <button
          type="button"
          (click)="closeModal()"
          class="px-3 py-2 text-sm rounded-lg bg-gray-200 hover:bg-gray-300"
        >
          Cancelar
        </button>

        <button
          type="submit"
          [disabled]="contactForm.invalid"
          class="px-3 py-2 text-sm rounded-lg bg-purple-500 text-white hover:bg-purple-600 disabled:opacity-40"
        >
          Guardar
        </button>
      </div>

    </form>
  </div>
</div>
