<section class="flex justify-center">
  <div class="w-[520px] h-auto flex flex-col p-6">
    <div class="text-center mt-6">
      <h1
        class="text-4xl font-bold bg-gradient-to-r from-[#AF5EDE] to-[#FF80BF] bg-clip-text text-transparent"
      >
        AMARI
      </h1>
      <p class="mt-2 text-gray-500">Tu compañera de bienestar</p>
    </div>

    <div class="mt-10">
      <div
        class="flex border border-[#ECD3F4] rounded-xl p-4 gap-4 bg-[#FAF1FA]"
      >
        <div>
          <div
            class="bg-gradient-to-r from-[#AF5EDE] to-[#FF80BF] p-3 rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-message-circle-icon lucide-message-circle text-white"
            >
              <path
                d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719"
              />
            </svg>
          </div>
        </div>

        <div>
          <p class="font-semibold text-[#AF5EDE]">Lía</p>
          <p class="text-sm text-gray-600">
            {{ liaMessage }}
          </p>
        </div>
      </div>
    </div>

    <!-- Calendario Emocional -->
    <div class="mt-6">
      <h2 class="text-lg font-medium">Calendario Emocional</h2>

      <div class="grid grid-cols-7 gap-3 mt-4 pt-2 ps-2 pe-2 ms-[-5px]">
        <div
          *ngFor="let day of daysInMonth"
          (click)="selectDay(day)"
          [class.border-[#AF5EDE]]="selectedDay === day"
          [class.border-2]="selectedDay === day"
          [class.shadow-lg]="selectedDay === day"
          class="w-[60px] h-[60px] border bg-white rounded-2xl flex flex-col items-center justify-center text-sm font-semibold text-[#886699] hover:scale-105 hover:shadow-md transition-all cursor-pointer"
        >
          <span>{{ day }}</span>
          <span *ngIf="selectedEmotions[day]" class="text-xl">{{
            selectedEmotions[day]
          }}</span>
        </div>
      </div>
    </div>

    <div
      *ngIf="selectedDay !== null"
      class="w-full mt-6 mx-auto bg-white border rounded-2xl shadow-md p-4"
    >
      <p class="text-[#886699] font-semibold mr-3">
        ¿Cómo te sientes hoy?
      </p>
      <div class="w-full flex items-center justify-between mt-3 p-4">
        <span
          *ngFor="let emotion of emotions"
          (click)="selectEmotion(emotion)"
          class="cursor-pointer text-4xl hover:scale-125 transition-transform flex flex-col items-center mx-2"
        >
          {{ emotion.emoji }}
    <span class="text-xs mt-1 text-gray-600">{{ emotion.name }}</span>
        </span>
      </div>
    </div>
  </div>
</section>
